@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans);
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(185, 75%, 39%);
}

.bg-pattern {
    position: absolute;
    z-index: 0;
}

.bg-pattern-top {
    top: -55%;
    left: -10%;
}

.bg-pattern-bottom {
    bottom: -55%;
    right: -10%;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 100px;
}

.profile-bg {
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.profile {
    height: 80%;
    width: auto;
    border-bottom: 1px solid hsl(0, 0%, 59%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-details {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.featured-text,
.name-age {
    font-size: 24px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.london {
    font-size: 18px;
    color: hsl(227, 10%, 46%);
}

.info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

.number {
    font-size: 24px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.subject {
    font-size: 14px;
    color: hsl(227, 10%, 46%);
}